.page-header {
  background-color: var(--primary);
  color: #fff;
  height: 45px;
  margin-bottom: 4rem;
}
.app-logo {
  position: absolute;
  left: 50%;
  margin-left: -$app-logo-width/2;
  top: 14px;
}

.games-selection {
  border-bottom: 2px solid;
  padding-bottom: .813rem;
}

.dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}